*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  font-family: Roboto, sans-serif;
  font-weight: bold;
  size: 16px;
  line-height: 24px;
  letter-spacing: 2%;
  color: #434455;
  background-color: #ffffff;
}
:root {
  --primary-font: Roboto, sans-serif;
  --primary-color: #434455;
  --logo-color: #4d5ae5;
  --accent-color: #2e2f42;
  --hover-color: #404bbf;
  --white-color: #ffffff;
  --footer-color: #f4f4fd;
}
.link {
  text-decoration: none;
}
.list {
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul,
ol {
  margin: 0;
  padding: 0;
}
img {
  display: block;
}
.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}
/* Header */

.header {
}
.header-naw {
  display: flex;
}
.logo-link {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;

  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--logo-color);
  margin-right: 76px;
}
.accent {
  color: var(--accent-color);
}
.list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 40px;
}
.header-item {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;

  color: var(--accent-color);
}
.header-link {
  text-decoration: none;
  color: var(--accent-color);
  letter-spacing: 0.02em;
}
.header-link:hover,
.header-link:focus {
  color: var(--hover-color);
}
.address {
  font-style: normal;
}
.address-list {
  display: flex;
  align-items: center;
  gap: 40px;
}
.address-item {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;

  letter-spacing: 0.02em;

  color: var(--primary-color);
}
.address-link {
  color: var(--primary-color);
  letter-spacing: 0.02em;
}
.address-link:hover,
.address-link:focus {
  color: var(--hover-color);
}

/* Main */
.page {
  width: 1128px;
}
/* Section1 */
.section-one {
  background: var(--accent-color);
}
.title {
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;

  text-align: center;
  letter-spacing: 0.02em;

  color: var(--white-color);
  width: 496px;
  padding-bottom: 292px;
  padding-top: 188px;
  margin: 0 auto;
}
.button {
  font-family: Roboto, sans-serif;
  background: var(--logo-color);
  font-weight: 500;
  color: var(--white-color);
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.04em;
  cursor: pointer;
}
.button:hover,
.button:focus {
  background: var(--hover-color);
}
/* Section2 */

.page-list {
  display: flex;

  justify-content: space-between;
}
.page-item {
  width: 264px;
}
.page-subtitle {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;

  letter-spacing: 0.02em;

  color: var(--accent-color);
  margin-bottom: 8px;
  text-align: center;
}
.page-text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;

  letter-spacing: 0.02em;

  color: var(--primary-color);
      text-align: center;
    margin-bottom: 32px;
}
/* Section3 */
.subtitle {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;

  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;

  color: var(--accent-color);
  margin-bottom: 72px;
}
.img-list {
  display: flex;
  gap: 24px;
}
.img-item {
}
.img {
}
/* Section4 */
.section-four {
  background-color: var(--footer-color);

  padding-bottom: 120px;
}
.team-list {
  display: flex;
  gap: 24px;
}
.team-item {
  background-color: var(--white-color);
}
.team-img {
  margin-bottom: 32px;
}
/* Footer */
.footer {
  background-color: var(--accent-color);
}
.footer-link {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;

  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--logo-color);
}
.footer-studio {
  color: var(--footer-color);
}
.footer-text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;

  letter-spacing: 0.02em;

  color: var(--footer-color);
}

/* Portfolio */
.button-list {
}
.portfolio-button {
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--logo-color);
  background-color: var(--footer-color);
  cursor: pointer;
}
.portfolio-button:hover,
.portfolio-button:focus {
  color: var(--white-color);
  background-color: var(--hover-color);
}
.portfolio-list {
}
.portfolio-link {
}
.portfolio-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;

  letter-spacing: 0.02em;
  color: var(--accent-color);
}
.portfolio-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: var(--primary-color);

  letter-spacing: 0.02em;
}
.section-two {
}
.flex-section-two {
  display: flex;
  width: 264px;
  padding: 120px 0;
  gap: 24px;
}
.section-three {
  padding-bottom: 120px;
}
.header-container {
  display: flex;
  align-items: center;
  padding: 24 0;
  justify-content: space-between;
}
